.container,
.container-wider,
.container-fluid {
  overflow: hidden;
  padding: 0 $width-gap $width-gap;
  flex-grow: 1;
}

@media (min-width: $width-breakpoint) {
  .container-wider,
  .container-fluid {
    padding: 0 $width-gap * 4 $width-gap;
  }
}

.container {
  max-width: $max-width-container;
}

.container-wider {
  max-width: $max-width-container-wider;
}
